#! /usr/bin/env bash

VPN_CONFIG=default
CONNECTION_TEST=inside.example.com

DNS_SERVERS=(
    10.100.0.11
    10.100.0.12
    10.100.0.13
    )

ROUTES=(
    10/8
    172.16/12
    192.168/16
    )

TOKEN_PASSWORD=1234ABDC1234ABDC1234ABDC
TOKEN_PIN=1234
